body {
  padding-top:2px;
  background: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
}

.big-title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.navbar { 
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding:20px;
}

.ballz {
  display: flex;
  justify-content: center;
  text-align: center;
  margin:100px;
  margin-bottom: 10px;
  margin-top:10px;
  line-height: 50px;
}
.navbar:hover{
  background: rgb(67, 68, 67);
}

.navbar:active {
  background: rgb(67, 68, 67);
}

.navbar:selected {
  background: rgb(67, 68, 67);
}
.ballz {
  color: white;
}

.heartgif {
  margin-top:10px;
  width:300px;
  height:250px;
}