
body {
  padding-top:2px;
  background: rgb(12, 12, 12);
  font-family: 'Press Start 2P', cursive;
}

.big-title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
/*
.favorites {
  display: flex;
  justify-content: center;
  color: #322e2b;
  background-color: white;
  border-radius:20px;
  margin-left:700px;
  margin-right:700px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top:20px;
  padding-bottom:20px;
}
*/
.navbar { 
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding:20px;
}
